@charset "utf-8";
/*
	layout
*/
html {
	font-size: 14px;
}
body { 
	font-family: 'Noto Sans KR', sans-serif;
	width: 100%;
	height: 100%; 
	min-width: 1261px;
	color: #232323;
	background-color: #fff;
	font-weight: 400;
	font-size: 1rem;
}
a {
	color: inherit;
}
h1,h2,h3,h4,h5,h6,b,strong {
	font-weight: 500;
}

::-webkit-selection { background:#ececec; color: #232323; text-shadow: none; }
::-moz-selection { background:#ececec; color: #232323; text-shadow: none; }
::selection { background:#ececec; color: #232323; text-shadow: none; }

body {
    min-width: 1280px;
    overflow-y: scroll;
}
html.html-fix {
	overflow: hidden;
}
body.stop {
    overflow-y: hidden;
}
#Warp { 
	position: relative;
    width: 100%;
	overflow-X: hidden;
	overflow-y: hidden;
    /*overflow: hidden;*/
}

/*header*/
#Header { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
    /*overflow: hidden;*/
    z-index: 100;
    user-select: none;
}
#Header > .inner {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
    height: 100%;
    max-width: 1620px;
    min-width: 1280px;
    padding: 0 50px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
#Header .depth1 { 
    position: relative;
    height: 100%;
    padding-top: 35px;
    text-align: right;
	border-bottom: 1px solid transparent;
}
#Header .depth1 > .minframe > .inner {
	height: 100%;
}
#Header .logo { 
	position: absolute;
	left:  0;
	bottom: 15px;
}
#Header .logo > a { 
	display: block;
	text-align: center;
}
#Header .logo .__img {
    display: block;
    width: 131px;
	height: 23px;
    background: center / contain url(/common/img/icon/bls_b.svg) no-repeat;
	font-size: 0;
    text-indent: -99999px;
}
.logo .trand-name {
    display: block;
    margin-top: 5px;
    font-size: 18px;
    line-height: 1;
}
#Header .hd-menu { 
	/*position: relative;*/
	display: inline-block;
    content: "";
    clear: both;
    margin-right: 40px;
}
#Header .hd-menu > li { 
	display: block;
	float: left;
	vertical-align: top;
}
.hd-menu > li .d2-p {
	position: relative;
}
.hd-menu .d1-menu { 
    display: block;
    position: relative;
    padding: 0 15px;
    font-size: 1.05rem;
    line-height: 75px;
	-webkit-transition: color 0.2s 0.2;
	-ms-transition: color 0.2s 0.2s;
	transition: color 0.2s 0.2s;
}
.hd-menu .d1-menu.on {
	color: #88674f;
	font-weight: 600;
}
.hd-menu > li.nav-line {  /*nav bar line*/
	position: absolute;
	left: auto;
	bottom: 25px;
	width: 0;
	height: 2px !important;
	background-color: #88674F;
	z-index: -1;
}
.depth1 .btn-toggle {
	position: absolute;
	bottom: 10px;
	right: -14px;
}
.depth1 .btn-toggle .bar {
	background: #444;
}

/*depth2 style*/
.hd-menu .depth2 {
	display: block;
    position: absolute;
	top: -9999px;
	opacity: 0;
    left: 50%;
    padding: 27px 20px 55px;
    background-color: #fff;
	color: #232323;
    font-size: 0;
    text-align: left;
	box-shadow: 0 19px 35px rgba(0,0,0,0.11);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.depth2 .d2-block {
    display: table-cell;
	min-width: 140px;
    padding-left: 40px;
    border-right: 1px solid rgba(204, 204, 204, 0.42);
    vertical-align: top;
    white-space: nowrap;
	opacity: 0;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition:	transform 0.5s,opacity 0.65s;
	-ms-transition:	transform 0.5s,opacity 0.65s;
	transition:	transform 0.5s,opacity 0.65s;
}
.depth2 .d2-block:last-of-type {
	border-right: 0;
}
.depth2 .d2-block > strong {
	display: block;
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 10px;
}
.depth2 .d2-block > ul {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}
.d2-block > ul > li > a {
    display: block;
    padding: 6px 0;
    font-size: 1rem;
    color: #686868;
    white-space: nowrap;
}
.d2-block > ul > li > a.on {
	color: #88674f;
}
.d2-block > ul > li > a:hover {
    color: #88674f;
}
.hd-menu .body-menu .depth2 {
	margin-left: -20px;
}

/*something depth on*/
.hd-menu > li.on .d1-menu {
	color: #88674F;
}
.hd-menu > li.on .depth2 {
	top: 100%;
	opacity: 1;
}
.hd-menu > li.on .d2-block {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/*top menu*/
#Header .top-menu { 
    position: absolute;
    top: 0;
    right: 50px;
}
#Header .top-menu > ul {
	font-size: 0;
}
#Header .top-menu > ul > li {
	display: inline-block;
	font-size: 0.85rem;
	color: #717171;
	margin-left: 7px;
    vertical-align: middle;
}
#Header .top-menu > ul > li:first-of-type {
	margin-left: 0;
}
.top-menu li a {
	display: block;
    padding: 8px;
}
.top-menu .select.form-control > select {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
	font-size: 0.9rem;
    color: #717171;
    line-height: 1;
}
#Header .top-menu .special-menu {
	position: relative;
    border-top: 0;
}
.top-menu .special-menu:after {
	content: '';
	position: absolute;
	top:0;
	left: -1px;
	right: -1px;
	height: 3px;
	-webkit-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}
.top-menu .special-menu a {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
    z-index: 10;
	-webkit-transition: .1s;
	-ms-transition: .1s;
	transition: .1s;
}
.top-menu .special-menu:hover:after  {
	height: 100%;
}
.top-menu .special-menu:hover a {
	/*color: #ffffff;*/
}
.top-menu .special-menu.ib:hover {
	border-color: #97B6E2
}
.top-menu .special-menu.ps:hover {
	border-color: #d58dbb
}

.full #Header,
.full #Header > .inner {
	background-color: transparent;
}
.full #Header .btn-toggle {
    position: absolute;
    top: 40px;
    right: 34px;
}
.full #Header .circFadeout {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
.full #Header .menu-txt {
    position: absolute;
    top: 0;
    right: 100%;
    font-size: 12px;
    color: #fff;
    line-height: 46px;
}

.nav-line #Header {
	border-bottom: 0;
}
.nav-line .hd-menu .depth2 {
	border-top: 1px solid #eee;
}

/*********************************************
	*main menu*/
.main #Header {
	background-color: transparent;
	color: #fff;
}
.main #Header .logo .__img {
	background-image: url(/common/img/icon/bls_w.svg);
}
.main .depth1 .btn-toggle .bar {
	background: #fff;
}
.main #Header .top-menu > ul > li,
.main .top-menu .select.form-control > select {
	color: #fff;
}
.main .top-menu .select.form-control > select option {
	color: #232323;
}
.main .select.form-control:after {
	border-top-color: #fff;
}

/*********************************************
	whole menu*/
#wholeMenu {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 50px 100px;
	background-color: rgba(0,0,0,0.75);
	color: #232323;
    z-index: -1;
	overflow: hidden;
}
#wholeMenu .close-icon-btn {
	position: absolute;
	top: 0;
	right: 0;
}
#wholeMenu > .maxframe {
	position: relative;
}
#wholeMenu .wm-dailog {
	position: relative;
	height: 100%;
	max-width: 1780px;
	max-height: 1000px;
	padding-right: 55px;
	margin: 0 auto;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	opacity: 0;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition:	transform 0.5s,opacity 0.3s;
	-ms-transition:	transform 0.5s,opacity 0.3s;
	transition:	transform 0.5s,opacity 0.3s;
}
/*active*/
#wholeMenu.active {
	visibility: visible;
	z-index: 100;
}
#wholeMenu.active .wm-dailog {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

#wholeMenu .wm-content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ffffff;
}
#wholeMenu .main-menu-wrap {
	position: relative;
    width: 100%;
	background-color: white;
}
#wholeMenu .special-menu-sct {
    position: relative;
    width: 100%;
	/*height: 100%;*/
    padding: 40px 50px;
    background-color: #F6F6F6;
}
.special-menu-sct .sms-sec1 {
	position: relative;
    z-index: 20;
}
.special-menu-sct .sms-sec2 {
	position: relative;
    z-index: 10;
}
.special-menu-sct .sms-sec2:after {
	content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    bottom: 0;
    background-color: #f6f6f6;
    z-index: -1;
}
.main-menu-wrap > .basic-menu-sct {
	position: relative;
    display: table;
    width: 100%;
	min-height: 100%;
    padding: 100px 15px 45px;
    background-color: white;
}
.basic-menu-sct .wm1 {
    display: table-cell;
    position: relative;
    width: 16.66666666%;
    padding-left: 30px;
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    vertical-align: top;
}
.basic-menu-sct .wm1:last-of-type {
	border-right: 0;
}
.basic-menu-sct .wm1 > dt {
    position: absolute;
    top: -60px;
    left: 40px;
}
.wm-content .wm1 > dt {
	margin-bottom: 20px;
    font-size: 21px;
    font-weight: 600;
    color: #88674F;
}
.wm-content .wm1 > dd a {
    display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: #666666;
	font-size: 1rem;
	font-weight: 400;
	line-height: 36px;
    white-space: nowrap;
}
.wm-content .wm1 > dd a:hover {
	color: #88674f;
}
.wm-content .wm2 > dt {
	margin-top: 20px;
	padding-left: 10px;
	font-size: 1.07em;
	font-size: 15px;
	font-weight: 500;
    line-height: 2.2em;
}
.wm-content .wm2:first-of-type > dt {
	margin-top: 0;
}
.special-menu-sct .wm1 {
	margin-bottom: 40px;
}
.special-menu-sct .sms-sec2 .wm1 {
	margin-bottom: 0;
}
.special-menu-sct .wm1 > dd {
	margin-left: -10px;
}
.main-menu-wrap .extra-menu-sct {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    padding: 40px 0 40px 45px;
    background-color: #fff;
}
.extra-menu-sct  li {
	display: inline-block;
}
.extra-menu-sct  li a {
	display: block;
    padding: 10px;
	color: #88674f;
    font-weight: 500;
}
@media (min-width: 1781px) {
	#wholeMenu .main-menu-wrap {
		width: 85%;
		height: 100%;
		float: left; 
	}
	#wholeMenu .special-menu-sct {
		width: 15%;
		float: left; 
	}
}
@media (max-width: 1780px) {
	.main-menu-wrap > .basic-menu-sct {
		display: block;
	    min-height: auto;
		padding: 75px 60px 45px;
	}
	.wm-content .wm1 {
		display: block;
		position: relative;
		width: 100%;
	    padding-left: 185px;
		margin-bottom: 30px;
		border-right: 0;
	}
	.wm-content .wm1 > dt {
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 19.5px;
		line-height: 36px;
	}
	.wm-content .wm1 > dd li {
		display: inline-block;
	}
	.wm-content .wm2 {
	    position: relative;
		min-height: 36px;
		padding-left: 90px;
		margin-bottom: 5px;
	}
	.wm-content .wm2 > dt {
		position: absolute;
	    top: 0;
		left: 0;
		margin-top: 0;
		line-height: 36px;
	}
	.wm-content .wm2 > dd {
		display: inline-block;
	}
	.main-menu-wrap .extra-menu-sct {
		top: 0;
		bottom: auto;
		left: auto;
		right: 0;
		width: 100%;
		padding: 5px 60px 0 0;
		text-align: right;
	}
	#wholeMenu .special-menu-sct {
		width: 100%;
		height: auto;
		padding: 75px 60px 45px;
	    overflow: hidden;
	}
	.special-menu-sct .sms-sec1 {
		width: 40%;
		float: left;
	}
	.special-menu-sct .sms-sec2 {
		width: 60%;
		float: left;
	}
	.extra-menu-sct li a {
		font-size: 0.9em;
	}
}

/*stiky*/
#Header.stiky {
	position: fixed;
    top: -35px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
#Header.stiky .depth1 {
	background-color: #fff;
}
#Header.stiky .openBranch {
	display: inline-block;
}
#Header.stiky .submenu-basic {
	display: none;
}

/*container*/
#Container {
	margin-top: 110px;
}
.full #Container {
	margin-top: 0;
}

/*content*/
#Content { 
	position: relative;
    z-index: 0;
	margin-top: 75px;
}

/*****************
	go top
******************/
#goTop {
	position: relative;
}
#goTop a {
	position: fixed;
    right: 10px;
    bottom: -160px;
	/* bottom: 160px; */
    visibility: hidden;
    opacity: 0;
    background-color: #232323;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease-out;
    z-index: 20;
	cursor: pointer;
}
#goTop a:before,
#goTop a:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
	width: 10px;
    height: 2px;
	margin-top: -2px;
    background-color: #fff;
}
#goTop a:before {
    right: 18px;
    transform: rotate(-45deg);
}
#goTop a:after {
    right: 12px;
    transform: rotate(45deg);	
}
#goTop a.on {
	visibility: visible;
	bottom: 160px;
	opacity: 0.3;
}
#goTop a.on:hover {
	opacity: 0.8;
}	
#goTop a.end {
	position: absolute;
}

/*footer*/
#Footer { 
	padding: 25px 0;
	background-color: #40495e;
	color: #fff;
}
#Footer .logo { 
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}
#Footer .logo > img{ 
	display: block;
	height: 20px;
}
#Footer .logo .trand-name {
	color: #fff;
}
#Footer .ft-content {
	position: relative;
}
.ft-content.fc-top {
    height: 67px;
    padding-top: 5px;
    /* padding-bottom: 25px; */
	padding-left: 170px;
    border-bottom: 1px solid #545454;
}
.ft-content.fc-bottom {
	padding-left: 400px;
	min-height: 168px;
    overflow: hidden;
}
.ft-content .fc-link-wrap {
    display: inline-block;
    vertical-align: top;
}
.fc-link-wrap a { 
	display: inline-block;
    padding: 5px;
    margin-right: 5px;
    opacity: .5;
    user-select: none;
}
.fc-link-wrap a.pt {
	opacity: .7;
}
.ft-content  address { 
    display: inline-block;
	padding-left: 5px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 12px;
	font-weight: 300;
    line-height: 1.5em;
    vertical-align: top;
	opacity: .5;
}
.ft-content  address > span { 
	display: inline-block;
	margin-right: 1em;
}
.ft-content .ft-sub-box { 
    position: absolute;
    top: 0px;
    right: 0;
}
.ft-sub-box > div { 
	display: inline-block;
	vertical-align: middle;
}
.ft-sub-box .sns-box ul li { 
	float: left;
}
.ft-sub-box .sns-box ul li a { 
    display: block;
    padding: 5px;
    margin-left: 5px;
}
.sns-box ul li a img { 
	vertical-align: middle;
}
.ft-content .fcb-left {
    width: 50%;
	min-width: 500px;
	margin-top: 30px;
    float: left;
    overflow: hidden;
}
.ft-content .fcb-right {
    width: 50%;
	min-width: 500px;
	margin-top: 30px;
    float: left;
}
#Footer .rolling_wrap {
	height: 72px;
}
.rolling_list li {
    margin-bottom: 20px;
}
/*가맹점 */
.member-wrap {
	position: relative;
    height: 200px;
}
.member-ask {
    display: block;
	position: absolute;
    top: 30px;
    left: 0;
    width: 346px;
    height: 108px;
	padding-top: 30px;
	padding-left: 30px;
    background-image: url(../images/member.jpg);
	background-position: center;
	background-repeat: no-repeat;
    text-align: left;
    color: #fff;
	cursor: pointer;
}
.member-ask p {
	color: #fff !important;
}
.member-ask strong {
	display: block;
    font-size: 1.3rem;
	color: #fff !important;
}
.member-ask strong + span {
    font-weight: 300;
    font-size: 1rem;
}

/*사이드 지점 버튼*/
.bc-popup { 
    display: table;
	position: fixed;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
	margin-bottom: 0px;
	background-color: #232323;
    border-bottom: 1px solid #000;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);*/
    text-align: center;
	z-index: 10;
	-webkit-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}
.bc-popup.bottom {
	box-shadow: none;
}
.bc-popup > .inner { 
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}
.bc-popup strong { 
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.bc-popup strong img { 
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 7px;
    margin-bottom: -1px;
}
.bc-popup span { 
    font-size: 11px;
    color: #B68150;
}

/*사이드 지점 메뉴*/
.dimmer { 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 300;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}
.bc-side-wrap {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .3s ease-out;
    z-index: 200;
    visibility: hidden;
}
.bc-side-wrap.on {
	background-color: rgba(0, 0, 0, 0.75);
    visibility: visible;
}
.bc-sidemenu { 
	position: fixed;
	top: 0;
	right: -520px;
	bottom: 0;
	z-index: 310;
	width: 455px;
    background-color: #ffffff;
}
.bc-sidemenu > div {
	height: 100%;
}
.bc-sidemenu .branch-img-swiper { 
	width: 100%;
    height: 33%;
}
.bc-sidemenu .bc-img-box { 
    height: 100%;
    overflow: hidden;
}
.bc-img-box > img { 
	display: block;
	width: 100%;
	height: 100%;
	user-select: none;
}
.branch-img-swiper .swiper-button-next, 
.branch-img-swiper .swiper-button-prev {
	background-color: rgba(0, 0, 0, 0.6);
    width: 35px;
    height: 35px;
    top: auto;
    bottom: 0;
    background-size: 12px;
}
.branch-img-swiper .swiper-button-next {
	right: 0;
}
.branch-img-swiper .swiper-button-prev {
	right: 38px;
    left: auto;
}

/*branch info */
.bc-sidemenu .bcs-bottom { 
    width: 100%;
	height: 67%;
	padding: 50px 65px;
	text-align: center;
	overflow-x: hidden;
    overflow-y: auto;
}
.bcs-bottom .branch-select {
	display: inline-block;
	margin-bottom: 5px;
}
.bcs-bottom .branch-select .now-branch {
	font-size: 25px;
}
.bc-info {
	text-align: left;
}
.bc-info dl {
	margin-top: 45px;
}
.bc-info dl dt {
	font-size: 15px;
    font-weight: 400;
    color: #6E6E6E;
}
.bc-info dl dd {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.bc-info dl dd.bif-1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 22px;
    line-height: 1em;
    color: #88674F;
}
.bc-info dl dd.bif-1 span {
	font-size: 0.8em;
}
.bc-info dl dd.bif-2 {
    color: #C43737;
}
.bc-quick {
	margin-top: 50px;
	padding: 0 30px;
}
.bc-quick .vi-btn {
	display: inline-block;
	text-align: center;
	color: #6E6E6E;
}
.bc-quick .vi-btn img {
	display: block;
	width: 55px;
	height: 55px;
	margin: 0 auto 8px;
}

/*닫기 버튼*/
.bc-sidemenu > .close-icon-btn { 
	position: absolute;
    top: 25px;
    left: -65px;
	cursor: pointer;
}

.close-btn .bar { 
    display: block;
    width: 30px;
    height: 1px;
    margin-bottom: 7px;
    background: #fff;
    transition: .3s ease-out;
}
.close-btn .bar.one { 
	margin-top: 0;
    transform: rotate(45deg);
}
.close-btn .bar.tow { 
	opacity: 0;
}
.close-btn .bar.thr { 
	margin-top: -16px;
	transform: rotate(-45deg);
}

/*지점 선택 리스트*/
.bc-select-list { 
	position: relative;
	width: 100px;
    border-bottom: 1px solid rgba(255,255,255,.7);
	user-select: none;
	font-size: 12px;
}

.bc-select-list .bc-select-txt { 
	position: relative;
	padding: 5px;
	cursor: pointer;
}

.bc-select-list .bc-select-txt:after { 
    content: '';
    border-top: 3px solid transparent;
    border-right: 4px solid rgba(255,255,255,.7);
    border-bottom: 3px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 11px;
    right: 5px;
    transform: rotate(-90deg);
}

.bc-select-list ul { 
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	z-index: 10;
    background-color: #141414;
	padding: 5px 0;
}

.bc-select-list a { 
	display: block;
	padding: 5px;
	font-size: 1em;
}

.bc-select-list a:hover { 
	color: #d7ac84;
}

.bc-select-list.on { 
    background-color: #141414;
}

.bc-select-list.on ul { 
    display: block;
}

.circFadeout {
	opacity: 0;
	-webkit-transform: scale(0); 
	-ms-transform: scale(0); 
	transform: scale(0); 
	animation-duration: 2.3s;
	animation-iteration-count: infinite;
	-webkit-animation-name: scaleOut;
	animation-name: scaleOut;
}
@-webkit-keyframes scaleOut {
	0% {
		transform: scale(0); 
		opacity: 0;
	}
	50% {
		transform: scale(0); 
		opacity: 0.25;
	}

	100% {
		transform: scale(2); 
		opacity: 0;
	}
}
@keyframes scaleOut {
	0% {
		transform: scale(0); 
		opacity: 0;
	}
	50% {
		transform: scale(0); 
		opacity: 0.25;
	}

	100% {
		transform: scale(2); 
		opacity: 0;
	}
}

/*min max fixed frame*/
.minframe { 
	position: relative;
	width: 100%;
	height: 100%;
	/* max-width: 1261px; */
	/* min-width: 1280px; */
	margin: 0 auto;
	/* padding: 0 50px; */
}

.maxframe { 
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.minframe > .inner,
.maxframe > .inner { 
	position: relative;
}

/* cont list*/
/* .minframe.cont-max {
	max-width: 1261px;
} */

/*grid*/
.row {
    margin-right: 0px;
    margin-left: 0px;
	font-size: 0;
}
.row:after, .row:before {
    display: table;
    content: " ";
}
.row:after { 
	clear: both;
}
.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    position: relative;
	display: inline-block;
	vertical-align: top;
	float: none;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
	box-sizing: border-box;
	font-size: 14px;
}

.col-9 { width: 75%; }
.col-8 { width: 66.666667%; }
.col-7 { width: 58.333333%; }
.col-6 { width: 50%; }
.col-5 { width: 41.666667%; }
.col-4 { width: 33.3333%; }
.col-3 { width: 25%; }
.col-2 { width: 16.66667%; }
.col-1 { width: 8.33333%; }