@media screen and (max-width:1024px) {
    .entire {width: calc(100% - 32px);}
    .banner {width: 100%; margin: 0 auto;}
    header {margin: 0 auto;}
    .minframe {max-width: 1024px !important; padding: 0;}
}