@charset "utf-8";

@font-face {
    font-family: "EduNSWACTFoundation-Medium";
    src: url(../myfont/static/EduNSWACTFoundation-Medium.woff) format("woff");
}
@font-face {
    font-family: "NanumSquareR";
    src: url(../myfont/NanumSquare/NanumSquareR.woff) format("woff");
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.title {
    font-family: "EduNSWACTFoundation-Medium";
    font-weight: lighter;
    font-size: 42px;
    padding: 15px;
}
header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
header ul {
    display: flex;
    justify-content: center;
}
header ul li {
    margin-right: 20px;
}
header ul li a {
    color: black;
    font-size: 18px;
    font-family: "EduNSWACTFoundation-Medium";
}
header ul li:hover a {
    font-weight: bold;
    color: palevioletred;
}
.banner {
    width: 100%;
    max-width: 1400px;
    height: 500px;
    margin: 0 auto;
    background-color: #f1c4be;
    background-image: url(../my_images/flower-g8852f2cca_1920.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner > h3 {
    text-align: center;
    padding-top: 200px;
    font-size: 76px;
    color: #fff;
    font-family: "EduNSWACTFoundation-Medium";
}

.Profile_first {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: left; 
}

.heart {
    width: 250px;
    height: 250px;
    background-image: url(../my_images/heart.png);
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
}

.my_img {
    width: 250px;
    height: 300px;
    background-image: url(../my_images/my.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.ment {
    font-size: 32px;
    margin-left: 40px;
    animation: slidedown 0.8s ease-in-out;
}
.ment span {
    color: palevioletred;
}
.ment p {
    font-size: 18px;
    color: palevioletred;
}
@keyframes slidedown {
    0% {opacity: 0; transform: translateY(-100px);}
    100% {opacity: 1; transform: translateY(0);}
}
.web {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}
.web_project {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.web_img {
    width: 450px;
    height: 300px;
    background-color: beige;
}
#one_img {
    background-image: url(../my_images/headenmokup.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
#two_img {
    background-image: url(../my_images/pink_travelmokup.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
#three_img {
    background-image: url(../my_images/blsmokup.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
#four_img {
    background-image: url(../my_images/roycemokup.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.web_content {
    width: 760px;
    margin-left: 30px;
    font-family: "NanumSquareR";
}
.web_content dl {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 35px;
}
.web_content dl dt {
    width: 25%;
    padding: 10px 0;
    font-weight: 700;
    color: palevioletred;
}
.web_content dl dd {
    width: 75%;
    padding: 10px 0;
}
.link {
    width: 760px;
    text-align: left;
}
.link a {
    
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    color: #fff;
    background-color: #ffa2e6;
}
.design {
    width: 100%;
    max-width: 1400px;
    border-top: 1px solid #ccc;
}
.design ul {
    display: flex;
    justify-content: space-between;
}
.design ul li {
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.design ul li:hover img {
    border-radius: 20px;
    transition: 0.4s;
}
.design ul li img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}