@charset "utf-8";

@font-face {
  font-family: poiret;
  src: url(../webfonts/PoiretOne-Regular.woff) format("woff"),
    url(../webfonts/PoiretOne-Regular.ttf) format("ttf");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #555;
}
body {
  font: 1em poiret, sans-serif;
}
header {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  width: 180px;
  height: 136px;
  background: url(../images/logo3.png);
  text-indent: -9999px;
}
#gnb li a {
  display: block;
  padding: 8px 30px;
  font-weight: bold;
}
#gnb li a:hover {
  color: #ff85eb;
}
#gnb li i {
  margin-right: 15px;
}
.snsSet ul li {
  float: left;
}
#util {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  height: 35px;
  line-height: 35px;
  background: #212121;
}
#util ul li {
  float: left;
}
#util ul li img {
  vertical-align: middle;
}
#util ul:first-child {
  float: left;
  margin-left: 20px;
}
#util ul:last-child {
  float: right;
  margin-right: 20px;
}
#contents {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
}
#contents article {
  float: left;
  height: 260px;
}
#contents article div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
#contents article:first-child {
  width: 60%;
  height: 520px;
}
#contents article:nth-child(2) {
  width: 40%;
}
#contents article:nth-child(3) {
  width: 20%;
}
#contents article:nth-child(4) {
  width: 20%;
}
#contents article:nth-child(5) {
  width: 20%;
}
#contents article:nth-child(6) {
  width: 40%;
}
#contents article:nth-child(7) {
  width: 20%;
}
#contents article:nth-child(8) {
  width: 20%;
}
#contents article:nth-child(9) {
  width: 40%;
}
#contents article:nth-child(10) {
  width: 20%;
}
#contents article:nth-child(11) {
  width: 20%;
}
#contents article:nth-child(12) {
  width: 20%;
}

#contents article .bg1 {
  background: url(../images/pinktrable2.jpg);
}
#contents article .bg2 {
  background: url(../images/danang.PNG);
}
#contents article .bg3 {
  background: url(../images/hiler.jpg);
}
#contents article .bg4 {
  background: url(../images/lagoon.jpg);
}
#contents article .bg5 {
  background: url(../images/komodo.PNG);
}
#contents article .bg6 {
  background: url(../images/bahama.jpg);
}
#contents article .bg7 {
  background: url(../images/mosk.jpg);
}
#contents article .bg {
  background-size: cover;
  background-position: center;
}
#contents article span {
  position: absolute;
  font-size: 60px;
  color: #fff;
  bottom: 0;
  right: 20px;
  opacity: 0;
  transform: scale(10);
  transition: all 0.5s;
}
#contents article:hover span {
  transform: scale(1);
  opacity: 1;
}
#contents article .bg1 span {
  font-size: 170px;
  bottom: -40px;
  right: -10px;
  opacity: 1;
  color: #fff;
  transform: scale(1) rotateY(0deg);
  transition: all 0.5s;
}
#contents article .bg1:hover span {
  transform: scale(1) rotateY(360deg);
}
#contents article .txt {
  color: #666;
  padding: 40px 30px;
  box-sizing: border-box;
}
#contents article:hover .txt {
  background: #ffdaf9;
  color: #fff;
}
#contents article .txt i {
  position: absolute;
  bottom: -40px;
  right: -300px;
  font-size: 300px;
  color: #ff3edf;
  transition: all 0.5s;
}
#contents article:nth-child(3) .txt {
  background: #ff85eb;
}
#contents article:nth-child(3) .txt i {
  font-size: 200px;
  color: #fff;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}
#contents article:nth-child(11) .txt {
  background: #ff9cef;
}
#contents article:hover .txt i {
  right: 0;
  opacity: 0.5;
}
@media screen and (max-width: 1599px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;
    flex-direction: row;
  }
  header h1 {
    width: 250px;
    height: 50px;
    background: url(../images/logo4.png);
  }
  #gnb li {
    float: left;
  }
  #util {
    width: 100%;
    left: 0;
  }
  #contents {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 1279px) {
  header {
    justify-content: space-between;
  }
  .snsSet {
    display: none;
  }
  #contents article:first-child {
    width: 75%;
  }
  #contents article:nth-child(2) {
    width: 25%;
  }
  #contents article:nth-child(3) {
    width: 25%;
  }
  #contents article:nth-child(4) {
    width: 25%;
  }
  #contents article:nth-child(5) {
    width: 25%;
  }
  #contents article:nth-child(6) {
    width: 50%;
  }
  #contents article:nth-child(7) {
    width: 50%;
  }
  #contents article:nth-child(8) {
    width: 25%;
  }
  #contents article:nth-child(9) {
    width: 25%;
  }
  #contents article:nth-child(10) {
    width: 50%;
  }
  #contents article:nth-child(11) {
    width: 25%;
  }
  #contents article:nth-child(12) {
    width: 25%;
  }
}
@media screen and (max-width: 1023px) {
  #gnb {
    margin-left: 0;
  }
  #gnb li a {
    padding: 0 10px;
  }
  #contents article:first-child {
    width: 100%;
  }
  #contents article:nth-child(2) {
    width: 66.666%;
  }
  #contents article:nth-child(3) {
    width: 33.334%;
  }
  #contents article:nth-child(4) {
    display: none;
  }
  #contents article:nth-child(5) {
    width: 33.334%;
  }
  #contents article:nth-child(6) {
    width: 66.666%;
  }
  #contents article:nth-child(7) {
    display: none;
  }
  #contents article:nth-child(8) {
    width: 33.334%;
  }
  #contents article:nth-child(9) {
    width: 33.333%;
  }
  #contents article:nth-child(10) {
    display: none;
  }
  #contents article:nth-child(11) {
    width: 33.333%;
  }
  #contents article:nth-child(12) {
    display: none;
  }
}
@media screen and (max-width: 779px) {
  #gnb li a {
    padding: 0 5px;
  }
  #contents article:first-child {
    width: 100%;
  }
  #contents article:nth-child(2) {
    width: 100%;
  }
  #contents article:nth-child(3) {
    display: none;
  }
  #contents article:nth-child(4) {
    display: none;
  }
  #contents article:nth-child(5) {
    width: 50%;
  }
  #contents article:nth-child(6) {
    width: 50%;
  }
  #contents article:nth-child(7) {
    display: none;
  }
  #contents article:nth-child(8) {
    width: 50%;
  }
  #contents article:nth-child(9) {
    width: 50%;
  }
  #contents article:nth-child(10) {
    display: none;
  }
  #contents article:nth-child(11) {
    width: 50%;
  }
  #contents article:nth-child(12) {
    display: block;
    width: 50%;
  }
}
@media screen and (max-width: 639px) {
  header {
    height: 125px;
    flex-direction: column;
    justify-content: space-around;
  }
  #gnb li a {
    padding: 0 20px;
  }
  #util {
    display: none;
  }
  article {
    height: 150px;
  }
  #contents article:first-child {
    height: 300px;
  }
  #contents article .txt p strong {
    font-size: 25px;
  }
  #contents article .txt p em {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  header {
    position: fixed;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    z-index: 1;
  }
  header h1 {
    width: 180px;
    height: 136px;
    background: url(../images/logo3.png);
  }

  #gnb {
    width: 70%;
    margin-top: -200px;
  }
  #gnb li {
    float: none;
    line-height: 50px;
    width: 100%;
    margin-top: 10px;
  }
  #gnb li a {
    background: #000;
    opacity: 0.5;
    border-radius: 10px;
    color: #fff;
  }
  article {
    display: none;
  }
  #contents article:nth-child(1) {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
  }
  #contents article:nth-child(1) span {
    display: none;
  }
  #contents article:nth-child(12) {
    display: none;
  }
}
