@charset "utf-8";
.container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  .slide {
    width: 100%;
    height: 720px;
    overflow: hidden;
  }
  .slide img {
    width: 100%;
    object-fit: cover;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .text {
    color: #000;
    font-size: 15px;
    font-family: "NanumSquareNeo";
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
  }
  .text h1 {
    margin-bottom: 10px;
  }
  .text button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 14px;
  }
  .numbertext {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
  }
  /* .dot_wrap {
    width: 100%;
    max-width: 1920px;
  }
  .dot {
    cursor: pointer;
    height: 2px;
    width: 33%;
    margin: 0;
    padding: 0;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    display: none;
  } */
  .active,
  .dot:hover {
    background-color: #717171;
  }
  /* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */